@using System;
@using System.IO;
@using System.Text;

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - networkApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/lectureStyle.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">networkApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <nav class="header-nav navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="header-nav__list navbar-nav flex-grow-1">
                        <!--
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    -->
                        <li class="topic__link header-nav__item  nav-item">
                            <a href="#"><span>Темы</span></a>
                            <ul class="topic__list">
                                <li class="topic__item"><a class="text-dark" asp-controller="Lectures" asp-action="Motherboard">Материнская плата</a></li>
                                <li class="topic__item"><a class="text-dark" asp-controller="Lectures" asp-action="Processors">Процессоры</a></li>
                                <li class="topic__item"><a class="text-dark" asp-controller="Lectures" asp-action="Memory">Оперативная память</a></li>
                            </ul>
                        </li>

                        <li class="topic__link header-nav__item  nav-item">
                            <a href="#"><span>Вопросы</span></a>
                            <ul class="topic__list">
                                @{
                                    DirectoryInfo dir = new DirectoryInfo(@"Tests\");
                                    foreach (var item in dir.GetFiles())
                                    {
                                        <li class="topic__item"><a class="text-dark" asp-controller="Question" asp-route-path="@System.Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(item.Name)) " asp-action="Index">@item.Name.Replace("_", " ").Replace(".xml", "")</a></li>
                                    }
                                }

                            </ul>
                        </li>

                        @if (User.IsInRole("teacher"))
                        {
                            <li class="header-nav__item nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="TestConstructor" asp-action="Index">Конструктор тестов</a>
                            </li>
                        }


                        @if (User.IsInRole("admin"))
                        {
                            <li class="header-nav__item nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="TestConstructor" asp-action="Index">Конструктор тестов</a>
                            </li>
                            <li class="header-nav__item nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Пользователи</a>
                            </li>
                            <li class="header-nav__item nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Роли</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - networkApp - <a asp-area="" asp-controller="Question" asp-action="Index">Questions</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
