@using System.IO;

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - networkApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/lectureStyle.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/home-index.css" />
    <link rel="stylesheet" href="~/css/login-style.css" />
    <link rel="stylesheet" href="~/css/result-filter.css" />
    <link rel="stylesheet" href="~/css/error.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="header-nav__logo">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="~/lib/image/logo.png" alt="логотип" />
                    </a>
                </div>


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <nav class="header-nav navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="header-nav__list navbar-nav flex-grow-1">

                        <li class="topic__link header-nav__item">
                            <a href="#"><span>Темы</span></a>
                            <ul class="topic__list">
                                <li class="topic__item"><a asp-controller="Lectures" asp-action="Motherboard">Материнская плата</a></li>
                                <li class="topic__item"><a asp-controller="Lectures" asp-action="Processors">Процессоры</a></li>
                                <li class="topic__item"><a asp-controller="Lectures" asp-action="Memory">Оперативная память</a></li>
                            </ul>
                        </li>

                        <li class="topic__link header-nav__item">
                            <a href="#"><span>Вопросы</span></a>
                            <ul class="topic__list">
                                @{
                                    DirectoryInfo dir = new DirectoryInfo(@"Tests\");
                                    foreach (var item in dir.GetFiles())
                                    {
                                        <li class="topic__item"><a asp-controller="Question" asp-route-path="@System.Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(item.Name)) " asp-action="Index">@item.Name.Replace("_", " ").Replace(".xml", "")</a></li>
                                    }
                                }

                            </ul>
                        </li>

                        @if (User.IsInRole("teacher"))
                        {
                            <li class="topic__link header-nav__item">
                                <a asp-area="" asp-controller="TestResult" asp-action="Index"><span>Результаты</span></a>
                            </li>
                            <li class="topic__link header-nav__item">
                                <a href="#"><span>Конструктор</span></a>
                                <ul class="topic__list">
                                    <li class="topic__item"><a asp-controller="TestConstructor" asp-action="Create">Создать тест</a></li>
                                    <li class="topic__item"><a asp-controller="TestConstructor" asp-action="Edit">Изменить тест</a></li>
                                </ul>
                            </li>
                        }


                        @if (User.IsInRole("admin"))
                        {
                            <li class="topic__link header-nav__item">
                                <a asp-area="" asp-controller="TestResult" asp-action="Index"><span>Результаты</span></a>
                            </li>
                            <li class="topic__link header-nav__item">
                                <a href="#"><span>Конструктор</span></a>
                                <ul class="topic__list">
                                    <li class="topic__item"><a asp-controller="TestConstructor" asp-action="Create">Создать тест</a></li>
                                    <li class="topic__item"><a asp-controller="TestConstructor" asp-action="Edit">Изменить тест</a></li>
                                </ul>
                            </li>
                            <li class="topic__link header-nav__item">
                                <a asp-area="" asp-controller="Users" asp-action="Index"><span>Пользователи</span></a>
                            </li>
                            <li class="topic__link header-nav__item">
                                <a asp-area="" asp-controller="Roles" asp-action="Index"><span>Роли</span></a>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="header-nav__autorize">
                                <p>@User.Identity.Name</p>
                                <span> | </span>
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <button class="logoutBtn" type="submit">
                                        <img src="~/lib/image/escapeBtn.png" />
                                        <span class="tooltiptext">Выйти из аккаунта</span>
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="header-nav__autorize">
                                <a asp-controller="Account" asp-action="Login">Вход</a>
                                <span> | </span>
                                <a asp-controller="Account" asp-action="Register">Регистрация</a>
                            </li>
                        }
                    </ul>
                </nav>

            </div>
        </nav>
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - networkApp
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
