@model List<TestResultModel>
@{
    ViewData["Title"] = "Результаты тестирования";

    HashSet<string> fios = new HashSet<string>();
    HashSet<string> testNames = new HashSet<string>();
    HashSet<int> grps = new HashSet<int>();

    if (ViewBag.EmptyQuery != 0)
    {
        foreach (var item in Model)
        {
            foreach (var detail in item.Details)
            {
                testNames.Add(detail.TestName);
            }
        }

        foreach (var item in Model)
        {
            fios.Add(item.FNpLN);
        }

        foreach (var item in Model)
        {
            grps.Add(item.Group);
        }
    }
}

<form method="post">
    <div class="filter-result">
        <div class="form-group filter-result_item">
            <label class="filter__label">Фамилия Имя</label>
            <input class="filter__input" type="text" list="fio" name="fi" placeholder="Введите или выберите из списка" />
            <datalist class="filter__datalist" id="fio" name="fio">
                @foreach (var fiUser in fios)
                {
                    <option value="@fiUser"></option>
                }
            </datalist>
        </div>

        <div class="form-group filter-result_item">
            <label class="filter__label">Группа</label>
            <input class="filter__input" type="text" list="group" name="group" placeholder="Введите или выберите из списка" />
            <datalist class="filter__datalist" id="group" name="group">
                @foreach (var group in grps)
                {
                    <option value="@group"></option>
                }
            </datalist>
        </div>
        <div class="form-group filter-result_item">
            <label class="filter__label">Тест</label>
            <input class="filter__input" type="text" list="testName" name="testName" placeholder="Введите или выберите из списка" />
            <datalist class="filter__datalist" id="testName" name="testName">
                @foreach (var testName in testNames)
                {
                    <option value="@testName"></option>
                }
            </datalist>
        </div>
        <button class="result-btn filter-result__btn" type="submit" asp-action="Index">Выбрать</button>
    </div>
</form>

@if (ViewBag.EmptyQuery != 0)
{
    <table class="table">
        <tr style="font-weight: 500">
            <td class="header-table">Фамилия Имя</td>
            <td class="header-table">Группа</td>
            <td class="header-table">Название теста</td>
            <td class="header-table">Кол-во вопросов</td>
            <td class="header-table">% правильных ответов</td>
            <td class="header-table">Дата выполнения теста</td>
        </tr>
        <tr>
            <td>@Model[0].FNpLN</td>
            <td>@Model[0].Group</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            @foreach (var detail in Model[0].Details)
            {
                <td style="border-bottom: none;"></td>
                <td style="border-bottom: none;"></td>
                <td>@detail.TestName</td>
                <td class="table__cells_center">@detail.CountAllQuestions</td>
                <td class="table__cells_center">@detail.Result%</td>
                <td>@detail.TestDate.ToString("HH:mm:ss dd:MM:yyyy");</td>
            }
        </tr>

        @for (int i = 1; i < Model.Count; i++)
        {

            @if (Model[i].FNpLN == Model[i - 1].FNpLN && Model[i].Group == Model[i - 1].Group)
            {
                <tr>
                    @foreach (var detail in Model[i].Details)
                    {
                        <td style="border-bottom: none;"></td>
                        <td style="border-bottom: none;"></td>
                        <td>@detail.TestName</td>
                        <td class="table__cells_center">@detail.CountAllQuestions</td>
                        <td class="table__cells_center">@detail.Result%</td>
                        <td>@detail.TestDate.ToString("HH:mm:ss dd:MM:yyyy");</td>

                    }
                </tr>
            }
            else
            {
                <tr>
                    <td>@Model[i].FNpLN</td>
                    <td>@Model[i].Group</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    @foreach (var detail in Model[i].Details)
                    {
                        <td style="border-bottom: none;"></td>
                        <td style="border-bottom: none;"></td>
                        <td>@detail.TestName</td>
                        <td class="table__cells_center">@detail.CountAllQuestions</td>
                        <td class="table__cells_center">@detail.Result%</td>
                        <td>@detail.TestDate.ToString("HH:mm:ss dd:MM:yyyy")</td>
                    }
                </tr>
            }
        }
    </table>
}
else
{
    <p class="error-message">Нет записей удовлетворяющих запросу</p>
}




